/* ==========================================================================
    / Hero
   ========================================================================== */

   .hero {
    position: relative;
}
.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero__content {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    flex-direction: column;

    p{
        color: var(--color-white);
        width: 40%;
        margin: 30px 0 60px;
        font-size: var(--font-size-p);
    }

    h1{
         color: var(--a-color-primary);
        margin: 0;
        font-weight: 100;

        .texte__bold{
            font-weight: 600;
        }
    }
}




.hero__content a {
    font-size: var(--font-size-bouton);
    color: var(--a-color-primary);
    background-color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    border: 4px solid var(--a-color-primary);
}
