/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001514;

    // Couleurs du projet
    --a-color-primary: #4E6AFF;
    --a-color-black: #212121;
    --a-color-secondary: #FFE1EA;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--a-color-black);

    --color-logo: #444; 
}
